/* ---------------------------------------- */
/* Reset */
/* ---------------------------------------- */
* {
  margin: 0;
  padding: 0;
}
body {
  background: #D5DCE1;
  color: #273B4A;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
/* ---------------------------------------- */
/* Extend seed */
/* ---------------------------------------- */
/* Buttons */
.c-button.is-selected,
.c-button.is-selected:hover {
    background-color: #E5E9EC;
}
.c-button--sm {
  font-size: .875rem;
  height: 32px;
  line-height: 30px;
  padding: 0 8px;
}
/* Input */
.c-input--cc {
  min-width: 275px;
}
.c-dropdown--expiration {
  min-width: 50%;
}
.c-input--lg {
  height: 48px;
  line-height: 46px;
}
/* Dropdown */
.c-dropdown--country {
  min-width: 186.5px;
}
.c-dropdown select {
  background: none;
  border: 1px solid #CCC;
  border-radius: 0 2px 2px 0;
  height: 48px;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0 20px 0 8px;
  width: 100%;
}
.c-dropdown span {
  color: #A5ACBD;
  display: block;
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 13px;
  z-index: 2;
}
/* ---------------------------------------- */
/* Custom A/B Signup code */
/* ---------------------------------------- */
.ab-signup {
  margin: 48px auto;
  max-width: 768px;
  text-align: left;
}
/* ---------------------------------------- */
/* Headers */
/* ---------------------------------------- */
.ab-signup_header h1 {
  font-family: Merriweather, Georgia, serif;
  font-weight: 400;
  margin: -2px 0 4px;
}
.ab-signup_header h2 {
  color: #748494;
  font-weight: 300;
}
.ab-signup_header h2 strong {
  color: #273B4A;
  font-weight: 600;
}
/* ---------------------------------------- */
/* Container */
/* ---------------------------------------- */
.ab-signup_container {
  align-items: stretch;
  flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
}
/* ---------------------------------------- */
/* Left Form */
/* ---------------------------------------- */
.ab-signup_left {
  background: #FFF;
  padding: 36px;
  width: 58%;
}
/* ---------------------------------------- */
/* Right */
/* ---------------------------------------- */
.ab-signup_right {
  background: #F1F3F5;
  flex: 1;
  padding: 36px 0 36px 36px;
  width: 42%;
}
/* ---------------------------------------- */
/* Submit */
/* ---------------------------------------- */
.ab-signup_submit {
  width: 100%;
}
/* ---------------------------------------- */
/* Responsive */
/* ---------------------------------------- */
@media only screen and (max-width: 600px) {
  .ab-signup_header {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }
  .ab-signup_header h1 {
    margin: 24px 0;
    text-align: center;
  }
  .ab-signup_header h2 {
    text-align: center;
  }
  .ab-signup_container {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  .ab-signup_left {
    display: block;
    width: 100%;
  }
  .ab-signup_right {
    width: 100%;
  }
}